<p>
    <mat-toolbar color="primary">
      
      <span>Book Store</span>



      <span class="example-spacer"></span>

      <button  routerLink="">
        <mat-icon >home</mat-icon>
      </button>


      <button mat-button routerLink="/book">All Books</button>
      <button mat-button routerLink="/book/book-details/12">Details</button>
    

      

      
      <span class="example-spacer"></span>
      <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>-->
      <button mat-button routerLink="/auth/login" >Login</button>
      <button mat-button  routerLink="/auth/signup" >Signup</button>
    </mat-toolbar>
  </p>


 