<p>home works!</p>

<app-author></app-author>


<!--<app-author (myData)="childData($event)"></app-author>



<button (click)="increase()"> Incr </button>
<button  mat-raised-button   #decButton (click)="decrease()">Decr</button>

<p>Counter= {{counterser.counter}} </p>

<button>Pass data to child</button>

<button (click)="author.setData(2)" >Pass data to child</button>
     <app-author [data]=counterser.counter [showAuthors]="counterser.counter >4"></app-author>

<app-author #author></app-author>-->